body {
    background-color: #1c222f;
    margin: 0px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    display: block;
    font-size: 4rem;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
}

a {
    font-size: 1.2rem;
    border-bottom: 5px solid rgb(255, 216, 104);
    color: #46ffee;
} 

a:hover, a:active {
    color: rgb(255, 216, 104);
}

p {
    font-size: 2.5rem;
    font-family: 'Oleo Script', cursive;
}

.topContainer {
    border-bottom-width: 0;
    border-left-width: 0.7rem;
    border-top-width: 0.7rem;
    border-right-width: 0.7rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    border-style: solid;
    border-color: #374f63;
    background-color: #0873D5;
    position: relative;
    top: 15rem;
}

.startingScreenName {
    position: relative;
    top: 2rem;
}

.white {
    color: #46ffee;
}

.cloudImages {
    width: 5rem;
    height: 3rem;
    position: relative;
}